body,form,table,td {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10pt;
}

input,textarea {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 9pt;
}

body, table, p {
	margin-top: 0pt;
	margin-bottom: 6pt;
}

p.menu {
	margin-top: 0pt;
	margin-bottom: 6pt;
}

h1 {
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
}
	
h2 {
	font-size: 12;
	margin-top: 18pt;
	margin-bottom: 12pt;
}

h2.topbox {
	margin-top: 0pt;
}

h2.mission {
	font-size: 11pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

h3 {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
}

h3.topbox {
	border: 1px double #99ccff;
	background: #ddeeff;
	padding: 4px;
}

h3.inline {
	border: 1px double #99ccff;
	background: #ddeeff;
	padding: 4px;
	margin-top: 30pt;
}

h4 {
	font-size: 9pt;
}

img {
	border: none;
}

div#imageCaption {
	display: none;
}

div#basicFilter {
	display: block;
}

div#advancedFilter {
	display: none;
}

table.inline {
	margin-bottom: 0pt;
}

table.info {
	width: 760px;
	margin-bottom: 0pt;
}

table.border {
	border: 1px solid #0066cc;
}

table.form {
	width: 760px;
	margin-bottom: 0pt;
}

td {
	border: 0px;
	padding: 0px;
	vertical-align: top;
}

td.inline {
	vertical-align: middle;
}

td.spacer {
	border: 0px;
	padding: 8px;
}	

td.side {
	border: 1px solid #99ccff;
	width: 140px;
	height: 100%;
	padding: 8px;
}

td.main {
	border: 1px solid #0066cc;
	padding: 8px;
}

td.label {
	font-size: 7pt;
	font-weight: bold;
	text-align: left;
}

td.thumb {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #99ccff;
	padding: 8px;
	width: 105px;
	height: 150px;
}

td.twoCol1 {
	width: 40%;
	height: 2.0em;
	text-align: right;
	vertical-align: middle;
}

td.twoCol2 {
	width: 60%;
	height: 2.0em;
	text-align: left;
	vertical-align: middle;
}

td.threeCol2 {
	width: 25%;
	height: 2.0em;
	text-align: right;
	vertical-align: middle;
}

td.threeCol3 {
	width: 59%;
	height: 2.0em;
	text-align: left;
	vertical-align: middle;
}

td.fiveCol2 {
	width: 20%;
	height: 2.0em;
	text-align: right;
	vertical-align: middle;
}

td.fiveCol3 {
	width: 22%;
	height: 2.0em;
	text-align: left;
	vertical-align: middle;
}

td.fiveCol3x {
	width: 66%;
	height: 2.0em;
	text-align: left;
	vertical-align: middle;
}

td.fiveCol4 {
	width: 20%;
	height: 2.0em;
	text-align: right;
	vertical-align: middle;
}

td.fiveCol5 {
	width: 22%;
	height: 2.0em;
	text-align: left;
	vertical-align: middle;
}
	
